.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ff6b08;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

// ------------------------------------
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-list {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0;
  }
}

.plug {
  @media screen and(max-width: 1024px) {
    display: none;
  }
}

.gallery-item {
  box-shadow: 2px 1px 4px 2px #00000033;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: zoomIn;
  animation-duration: 2s;
  animation-delay: 0.9ss;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    flex-basis: auto;
    animation: zoomIn;
    animation-duration: 2s;
    animation-delay: 0.9ss;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(-n + 18) {
      margin-bottom: 30px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: 1024px) {
    // flex-basis: calc(100% / 3 - 30px);
    box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    flex-basis: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    animation: zoomIn;
    animation-duration: 2s;
    animation-delay: 0.9ss;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.gallery-item:nth-child(3n) {
  @media screen and (min-width: 1024px) {
    margin-right: 0;
  }
}

.gallery-item:nth-last-child(-n + 3) {
  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.comma:last-child {
  display: none;
}

// .plug-container {
//   width: 274px;
//   height: 440px;
//   border: solid 1px black;
// }

.plug {
  width: 274px;
  height: 470px;
}

.goit {
  padding-right: 62px;
  padding-left: 62px;
  padding-top: 135px;
  padding-bottom: 145px;
}

.plug-container {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  margin: 0;

  border: solid 5px #ff6b08;
}

.goit-img {
  padding-top: 55px;
  padding-bottom: 55px;
  margin-left: 20px;
}

.film-img {
  width: 280px;
  height: 402px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 294px;
    height: 398px;
    cursor: pointer;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
    height: 398px;
    cursor: pointer;
  }
}

.film-info {
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
  // width: 280px;

  @media screen and (min-width: 768px) {
    width: 294px;
    margin-bottom: 30px;
    padding-left: 5px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
    margin-bottom: 30px;
    padding-left: 5px;
  }
}

.film-title-dark {
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.film-title {
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.film-text {
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  // word-wrap: break-word;
  color: #ff6b01;
}

.rait {
  width: 36px;
  height: 16px;
  padding: 1px 10px;
  margin-left: 8px;
  border-radius: 5px;
  background: #ff6b01;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.is-hidden {
  display: none;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  transition: all 1s;
  opacity: 1;
  visibility: visible;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
