.header {
  height: 230px;

  &-position {
    display: flex;
    align-items: flex-end;
    margin-bottom: 27px;
  }

  &-logo {
    display: flex;
  }

  &-logo-img {
    width: 24px;
    height: 24px;

    margin-top: 5px;
    margin-right: 10px;
    @media screen and (max-width: 767px) {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
    }
  }

  &-logo-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;

    color: #ffffff;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    text-align: center;

    margin-left: auto;
  }
  &-menu {
    margin-left: auto;
    text-align: center;
  }

  &-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    text-transform: uppercase;
    background-color: transparent;
    border-color: transparent;

    cursor: pointer;
    color: #ffffff;
    padding: 0px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-nav > &-nav-el:not(:last-child) {
    margin-right: 30px;
  }

  &-button:hover {
    background-color: #ff6b08;
    border-radius: 3px;
  }

  &-authorization {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    text-transform: uppercase;
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 5px;

    cursor: pointer;
    color: #ffffff;
    padding: 0px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 4px 6px;
    margin-bottom: 5px;
  }

  &-authorization:hover {
    background-color: #ff6b08;
    border-color: transparent;
  }

  &-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 20px;

    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 0.5px solid #ffffff;

    background-color: transparent;

    outline: none;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 22px;

    color: #ffffff;
    padding-bottom: 6px;
    padding-left: 20px;
    cursor: pointer;

    background: url(../images/header/search.svg) no-repeat 3px 1px;
    // background-position: right;
    @media screen and (max-width: 319px) {
      width: 100%;
    }
    @media screen and (min-width: 767px) {
      width: 336px;
    }
  }

  &-input:focus {
    border-bottom: 0.5px solid #ff6b08;
  }

  &-error {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    color: #ff001b;
  }

  &-library {
    display: flex;
    justify-content: center;
  }

  &-library-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    background-color: transparent;
    color: #ffffff;

    width: 136px;
    height: 44px;

    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-library-button.current,
  &-library-button:hover {
    background-color: #ff6b08;
    cursor: pointer;
  }

  &-library > &-library-el:not(:last-child) {
    margin-right: 15px;
  }
}

::placeholder {
  font-family: Roboto;

  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  padding-bottom: 4px;
}

// кнопка регистрации
