.remove-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  opacity: 1;
  overflow: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  max-height: 1200px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  top: 5%;
  left: 6%;
  right: 6%;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  z-index: 10;

  @media screen and (min-width: 768px) {
    width: 618px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }
}

.close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: transparent;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.image {
  width: 240px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1024px) {
    width: auto;
    height: 478px;
  }
}

.one-film-markup {
  display: flex;
  flex-wrap: wrap;
}

.info-table {
  max-width: 240px;
  height: auto;

  @media screen and (min-width: 768px) {
    max-width: 264px;
    height: auto;
    margin-left: 30px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 500px;
    height: auto;
    margin-left: 30px;
  }
}

.movie-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.vote {
  display: flex;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.vote-average {
  width: 36px;
  height: 16px;
  padding: 1px 10px;
  margin-left: 41px;
  border-radius: 5px;
  background: #ff6b01;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1024px) {
    margin-left: 85px;
  }
}

.vote-count {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}

.popularity {
  display: flex;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.popularity-value {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-left: 53px;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 1024px) {
    margin-left: 97px;
  }
}

.original-title {
  display: flex;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.title-value {
  max-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-left: 39px;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 1024px) {
    max-width: 200px;
    margin-left: 83px;
  }
}

.genre {
  display: flex;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.container-genres {
  display: flex;
  flex-wrap: wrap;
}

.genre-name {
  margin-right: 76px;

  @media screen and (min-width: 1024px) {
    margin-right: 120px;
  }
}

.genres-value {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.about {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.overview {
  max-width: 390px;
  margin-top: 10px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.modal-btns-add {
  display: flex;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.modal-btn {
  width: 112px;
  height: 44px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #ff6b01;
    color: white;
  }

  &:focus {
    background-color: #ff6b01;
    color: white;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.activated-btn {
    background-color: #ff6b01;
    color: white;
  }

  &.deactivated-btn {
    background-color: white;
    color: #000000;
  }
}
