<li class="gallery-item plug">
    <div class="goit">
        
            <div class="plug-container">
                <a href="https://goit.ua/">
                <img src="https://goit.ua/wp-content/themes/2/images/Layer.png.pagespeed.ce.M0kU4lrZ_P.png" class="goit-img"
                        width="100" height="30">
                {{!-- <p class="plug-title">ТУТ МОЖЕТ БЫТЬ ВАША РЕКЛАМА</p> --}}
                </a>
            </div>
        
    </div>
</li>