<header class="header">
  <div class="container">
    <div class="header-position">
      <a href="#" class="header-logo">
        <img src="./images/film.png" alt="logo" />
        <img src="./images/Filmoteka.png" alt="logo image" />
      </a>
      <ul class="header-nav">
        <button class="header-button" type="button">Home</button>
        <button class="header-button" type="button">my library</button>
      </ul>
    </div>
    <input class="header-input" type="text" />
  </div>
</header>
