<div class="header-cower">
  <header class="header img-home" data-header>
    <div class="container">
      <div class="toolbar">
        <!-- Разметка переключателя темы -->
        <div class="theme-switch">
          <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
            <use href="./images/sprite.svg#sun"></use>
          </svg>

          <div class="theme-switch__control">
            <input
              class="theme-switch__toggle"
              type="checkbox"
              name="theme"
              id="theme-switch-toggle"
              aria-label="Переключить между тёмной и светлой темой"
            />
            <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>

          <svg class="theme-switch__icon" aria-label="Иконка луны">
            <use href="./images/sprite.svg#moon"></use>
          </svg>
          
        </div>
      </div>
      <div class="header-position">
        <a href="#" class="header-logo">
          <img class="header-logo-img" src="./images/header/film.png" alt="logo" />
          <span class="header-logo-title">Filmoteka</span>
        </a>
        <div class="header-menu">
          <button class="header-authorization " data-sign-btn type="button">Authorization</button>
          <ul class="header-nav">
            <li class="header-nav-el">
              <button class="header-button is-active" data-home type="button">Home</button>
            </li>
            <li class="header-nav-el">
              <button class="header-button is-deactive" data-library type="button">my library</button>
            </li>
          </ul>
          
        </div>
      </div>
     
      <input
        class="header-input"
        data-input
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Поиск фильмов"
      />
      
     
      <p class="header-error is-hidden" data-error>
        Search result not successful. Enter the correct movie name
      </p>

      <ul class="header-library is-hidden" data-button-library>
        <li class="header-library-el">
          <button class="header-library-button" data-watched type="button">Watched</button>
        </li>
        <li class="header-library-el">
          <button class="header-library-button" data-queue type="button">queue</button>
        </li>
        
      </ul>
    </div>
  </header>
</div>
