<button class="modal-btn" data-modal-open>Модалка</button>

<div class="backdrop" data-backdrop>
    <div class="modal">
        <button class="modal-close" data-modal-close>Закрыть</button>

        <form>
            <h2 class="movie-title">Movie title</h2>

            <ul class="vote">
                <li>Vote</li>
                <li>Popularity</li>
                <li>Original Title</li>
                <li>Genre</li>
            </ul>

            <p>About</p>
            <p>
                M o v i e   d e s c r i p t i o n
            </p>

            <div class="modal-btns-add">
                <button class="">ADD TO WATCHED</button>
                <button class="">ADD TO QUEUE</button>
            </div>
        </form>
        
       
    </div>
</div>