<div class="backdrop-sign is-hidden" data-sign>
  <div class="modal-sign">
    <button aria-label="Закрытие окна" class="close-modal" data-sign-close type="button">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2"></path>
        <path d="M8 22L22 8" stroke="black" stroke-width="2"></path>
      </svg>
    </button>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

    <!-- <div
      class="fb-login-button"
      data-width=""
      data-size="large"
      data-button-type="login_with"
      data-layout="default"
      data-auto-logout-link="false"
      data-use-continue-as="false"
    >
      впеакывпакыуквки
    </div> -->
  </div>
</div>
